# Import Dataset
------

### 1. Normal Content Datasets

-----

In [33]:
import pandas as pd
import numpy as np

# ---- import the Normal dataset
nor_list = []

# Amazon:
for i in range(4):
    filename = 'Normal/'+'amazon'+str(i+1)+'.csv'
    nor_list.append(pd.read_csv(filename))

# eBay:
for i in range(5):
    filename = 'Normal/'+'ebay'+str(i+1)+'.csv'
    nor_list.append(pd.read_csv(filename))

# Shein:
for i in range(4):
    filename = 'Normal/'+'shein'+str(i+1)+'.csv'
    nor_list.append(pd.read_csv(filename))

# Wish:
for i in range(3):
    filename = 'Normal/'+'wish'+str(i+1)+'.csv'
    nor_list.append(pd.read_csv(filename))

# Other Normal Content:
for i in range(14):
    filename = 'Normal/'+'norDF'+str(i)+'.csv'
    nor_list.append(pd.read_csv(filename))

len(nor_list)

30

In [35]:
for i,j in enumerate(nor_list):
    print('The {}th of the normal content datasets information is: {}\n'.format(i+1,j.shape))

The 1th of the normal content datasets information is: (219, 1)

The 2th of the normal content datasets information is: (422, 1)

The 3th of the normal content datasets information is: (390, 1)

The 4th of the normal content datasets information is: (370, 1)

The 5th of the normal content datasets information is: (219, 1)

The 6th of the normal content datasets information is: (452, 1)

The 7th of the normal content datasets information is: (451, 1)

The 8th of the normal content datasets information is: (488, 1)

The 9th of the normal content datasets information is: (433, 1)

The 10th of the normal content datasets information is: (464, 1)

The 11th of the normal content datasets information is: (1152, 1)

The 12th of the normal content datasets information is: (1050, 1)

The 13th of the normal content datasets information is: (1085, 1)

The 14th of the normal content datasets information is: (25, 1)

The 15th of the normal content datasets information is: (29, 1)

The 16th of the normal content datasets information is: (26, 1)

The 17th of the normal content datasets information is: (889, 1)

The 18th of the normal content datasets information is: (807, 1)

The 19th of the normal content datasets information is: (863, 1)

The 20th of the normal content datasets information is: (909, 1)

The 21th of the normal content datasets information is: (655, 1)

The 22th of the normal content datasets information is: (1212, 1)

The 23th of the normal content datasets information is: (1019, 1)

The 24th of the normal content datasets information is: (799, 1)

The 25th of the normal content datasets information is: (761, 1)

The 26th of the normal content datasets information is: (798, 1)

The 27th of the normal content datasets information is: (827, 1)

The 28th of the normal content datasets information is: (870, 1)

The 29th of the normal content datasets information is: (625, 1)

The 30th of the normal content datasets information is: (902, 1)

### 2. DP Content Datasets
-----

In [45]:
# ---- import the Normal dataset
dp_list = []

# Amazon:
for i in range(2):
    filename = 'DP/'+'amazon'+str(i+1)+'.csv'
    dp_list.append(pd.read_csv(filename))

# eBay:
for i in range(3):
    filename = 'DP/'+'ebay'+str(i+1)+'.csv'
    dp_list.append(pd.read_csv(filename))

# Shein:
for i in range(1):
    filename = 'DP/'+'shein'+str(i+1)+'.csv'
    dp_list.append(pd.read_csv(filename))

# Wish:
for i in range(3):
    filename = 'DP/'+'wish'+str(i+1)+'.csv'
    dp_list.append(pd.read_csv(filename))


len(dp_list)

9

In [46]:
for i,j in enumerate(dp_list):
    print('The {}th of the dark pattern content datasets information is: {}\n'.format(i+1,j.shape))

The 1th of the dark pattern content datasets information is: (11, 1)

The 2th of the dark pattern content datasets information is: (3, 1)

The 3th of the dark pattern content datasets information is: (38, 1)

The 4th of the dark pattern content datasets information is: (35, 1)

The 5th of the dark pattern content datasets information is: (3, 1)

The 6th of the dark pattern content datasets information is: (41, 1)

The 7th of the dark pattern content datasets information is: (43, 1)

The 8th of the dark pattern content datasets information is: (40, 1)

The 9th of the dark pattern content datasets information is: (39, 1)

# Merge Normal Content Datasets
----

In [41]:
nor_df = pd.concat(nor_list,ignore_index = True)

nor_df.shape

(19211, 1)

In [42]:
nor_df

                                           content
0                             Skip to main content
1                                       Deliver to
2      Select the department you want to search in
3                                  All Departments
4                                    Arts & Crafts
...                                            ...
19206                                   Reject All
19207                                    Allow All
19208                      View our Privacy Policy
19209                      View our Cookies Policy
19210                               Accept Cookies

[19211 rows x 1 columns]

# Merge Dark Pattern Content Datasets
----

In [47]:
dp_df = pd.concat(dp_list,ignore_index = True)

dp_df.shape

(253, 1)

In [48]:
dp_df

                 content
0       Ends in 07:42:09
1       Ends in 07:37:10
2       Ends in 02:27:10
3       Ends in 04:17:10
4       Ends in 01:57:10
..                   ...
248  10,000+ bought this
249  10,000+ bought this
250   1,000+ bought this
251         Almost Gone!
252   5,000+ bought this

[253 rows x 1 columns]

# Remove duplicates rows 
-----

In [50]:
 # For later training the model, we should remove the duplicate input to reduce overfitting.

normal_df = nor_df.drop_duplicates(subset="content")

normal_df.shape

(5619, 1)

In [51]:
dark_df = dp_df.drop_duplicates(subset="content")

dark_df.shape

(119, 1)

In [52]:
normal_df

                                                content
0                                  Skip to main content
1                                            Deliver to
2           Select the department you want to search in
3                                       All Departments
4                                         Arts & Crafts
...                                                 ...
19136                                          smart TV
19137                             Whether you’ve got an
19138                                     LG television
19139  in mind, or want to browse our vast selection of
19140                               Samsung televisions

[5619 rows x 1 columns]

In [53]:
dark_df

                 content
0       Ends in 07:42:09
1       Ends in 07:37:10
2       Ends in 02:27:10
3       Ends in 04:17:10
4       Ends in 01:57:10
..                   ...
135     100+ bought this
137   5,000+ bought this
138  20,000+ bought this
159  50,000+ bought this
161      50+ bought this

[119 rows x 1 columns]

# Output csv files of normal content and dark pattern
-----

In [54]:
normal_df.to_csv('Generate/normal.csv', index = False, header = True)

dark_df.to_csv('Generate/dp.csv', index = False, header = True)

In [6]:
# change the header name of the raw table

raw_1 = raw_1.rename(columns={"content": "Pattern String", "presence": "classification"})

raw_1

                                        Pattern String  classification
0    JVC 32" Android TV with Google Assistant | Now...               1
1                                      Save up to €250               0
2                          Here we go! Save up to €250               0
3                                      Save up to €150               0
4                                      Save up to €190               0
..                                                 ...             ...
366  Be the first to hear about the latest news. Re...               0
367  The newsletter can be unsubscribed at any time...               1
368  to cancel your subscription. For more informat...               1
369  At Lights.ie the item's previous retail value ...               1
370  Included in the price of CFLs/fluorescent bulb...               1

[371 rows x 2 columns]